.hero {
    position: relative;
}

 .hero .video-container video {
    width: 100%;
    height: 100%;
} 


.hero .video-info {
    font-size: 1.2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    bottom: 10rem;
    left: 10rem;
    color: #fff;
}

.hero .video-info .title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.desc {
  font-size: 3rem;
  margin-top: 8px;
}
.hero .video-info .date-duration-views {
    display: flex;
    gap: 2rem;
}

.username {
  font-size: 14px;
  
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set full viewport height for hero section */
  .hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  /* Style for the background video */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .publisher {
    margin-top: 10px;
    display: flex;
    align-items: center; 
  }
  
  .publisher .img {
    width: 20px;
    height: 20px;
    margin-right: 6px;

  }
  
  .publisher .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
 
  .spacer {
    margin-right: 15px; 
  }






/* .hero .video-info .publisher {
    display: flex;
    align-items: center;
    gap: 2rem;
} */

/* .hero .video-info .publisher .img {
    width: 3rem;
    height: 3rem;
} */

/* .hero .video-info .publisher .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */



/*   
  .video-info {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  } */
  
  /* .title span {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .desc {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .date-duration-view {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .publisher {
    margin-top: 10px;
  }
  
  .username {
    font-size: 14px;
    font-style: italic;
  }
   */