
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans&family=Poppins:wght@400;500&display=swap');

/* *{
    background-color: darkgray;
} */
.login {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    
    font-family: 'Poppins', sans-serif;
}

.login .left {
    position: relative;
    flex: 1.2;
}

.login .left_title {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: rgb(128, 85, 124);
}

.login .left_desc {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    color: green;
}

.login .left_register {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color:white;
   
}

.login .right {
    flex: 1;
    text-align: center;
    color: white;
}
.login .right input{
    background-color: #bbb;
    font-size: 18px;
}
.login .right_title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.login .right_desc {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.login .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login .form input {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;
    border-radius: 6px;
}

.login .form .btn {
    margin-top: 3rem;
}

.login .form .btn button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    background-color: green;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}
