.upload-form {
    width: 40%;
    margin: 15rem auto;
    color: #fff
}

.upload-form .upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    font-size: 1.6rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.upload-form .upload .uploadVideo{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.upload-form .upload .nameinput{
    border: none;
    border-radius: 6px;
}

.upload-form .upload > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
}
.upload-form .upload .nameclass{
    font-size: 20px;
}

.upload-form .upload input:not(input[type="file"]) {
    border: none;
    outline: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    height: 30px;
    width: auto;
}

.upload-form .upload .category-and-visibility {
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.upload-form .upload .category-and-visibility > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.upload-form .upload .category-and-visibility select {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.upload-form .btn {
    margin-top: 2rem;
    text-align: center;
}

.upload-form .btn button {
    border: none;
    outline: none;
    padding: .5rem 2rem;
    border-radius: 100px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.upload .desc-name {
    
    font-size: 20px;
}
.upload-form  textarea{
    width: 400px auto;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    resize: vertical;
    text-align: left;
    overflow: auto;
}
