.upload-form {
    width: 40%;
    margin: 15rem auto;
}

.upload-form .upload {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.upload-form .upload > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.upload-form .upload input:not(input[type="file"]) {
    border: none;
    outline: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
}

.upload-form .upload .category-and-visibility {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.upload-form .upload .category-and-visibility > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.upload-form .upload .category-and-visibility select {
    border: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.upload-form .btn {
    margin-top: 2rem;
    text-align: center;
}

.upload-form .btn button {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    border-radius: 100px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}
